@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 2% 0% 0% 9%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color: aliceblue;

    font-family: "Barlow Condensed", sans-serif;;
    font-size: 1.25rem;

    text-decoration: none;

}

body{
    box-sizing: border-box;
    background-color: black;
}

.cor{
    color: rgb(188, 21, 21);
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 12% 14% 9%;
    gap: 0;
}

.apresentacao__mensagem{
    width: 615px;
}

.apresentacao__acoes{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}


.apresentacao__acoes__texto{
    color: antiquewhite;
    text-align: center;

    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.25rem;

}

.apresentacao__acoes__link{
    text-decoration: none;
    border: 2px solid red;
    border-radius: 3px;
    width: 300px;
    padding: 15px 0;
    
    text-align: center;
    color: whitesmoke;

    font-size: 1.25rem;
    font-family: "Barlow Condensed", sans-serif;
}

.apresentacao__acoes__link:hover{
    color: red;
    border: 2px solid antiquewhite;
    background-color: #272727;
}
    

.apresentacao__mensagem__titulo{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2.5rem;
    color:antiquewhite
    
}

.apresentacao__mensagem__paragrafo{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.25rem;
    color: azure;
    padding: 5% 0% 0% 10%;
}

.rodape{
    background-color: #272727;
    color: aliceblue;
    
    font-family: "Barlow Condensed", sans-serif;
    font-size: 0.9375rem;

    text-align: center;
    padding: 20px;
}

